/*Переменные*/
:root {
  --main-bg-color: rgb(31, 31, 31);
  --footer-bg-color: rgb(56, 56, 56);
  --text-color: #fcfcfc;
  --color-blue: #79a9ef;
}

body {
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
input {
  display: none;
}
main {
  max-width: 960px;
  margin: auto;
  padding-bottom: 3rem;
}
footer {
  background: var(--footer-bg-color);
}
.slider {
  margin: 1rem auto 2rem;
  display: grid;
  /* ! */
  grid-template-areas:
    "A A A A   A A A A   A A A A A A A A A A"
    "A A A A   A A A A   A A A A A A A A A A"
    "B B B B   B B B B   B B B B C D E F H J";
}

.slider__img-list-wrapper {
  width: 100%;
  margin: 2rem auto 1.5rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem #0000008a;
}
.slider__img-list-wrapper {
  grid-area: A;
}
.slider__titles-list {
  grid-area: B;
  overflow: hidden;
  white-space: nowrap;
}
.slider label.control-1 {
  grid-area: D;
}
.slider label.control-2 {
  grid-area: E;
}
.slider label.control-3 {
  grid-area: F;
}
.slider label.control-4 {
  grid-area: H;
}
.slider label.control-5 {
  grid-area: J;
}
.slider__img-list {
  display: flex;
  margin-left: 0;
  -webkit-transition: margin-left 0.6s cubic-bezier(0.4, 0, 1, 1);
  -o-transition: margin-left 0.6s cubic-bezier(0.4, 0, 1, 1);
  transition: margin-left 0.6s cubic-bezier(0.4, 0, 1, 1);
}
.slider__img-list-wrapper img {
  height: 100%;
}
.slider__control {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
}
.slider__control span {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: var(--color-blue);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.slider__control:hover span,
.slider__control:active span {
  background: var(--text-color);
}
.slider__input:checked + .slider__control span {
  background: none;
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid var(--color-blue);
}
.slider__input:checked:hover + .slider__control span,
.slider__input:checked:active + .slider__control span {
  background: none;
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid var(--text-color);
}

/*анимация слайдера*/
#control-1:checked ~ .slider__img-list-wrapper .slider__img-list {
  margin: 0;
  padding: 0;
}
#control-2:checked ~ .slider__img-list-wrapper .slider__img-list {
  margin-left: -100%;
}
#control-3:checked ~ .slider__img-list-wrapper .slider__img-list {
  margin-left: -200%;
}
#control-4:checked ~ .slider__img-list-wrapper .slider__img-list {
  margin-left: -300%;
}
#control-5:checked ~ .slider__img-list-wrapper .slider__img-list {
  margin-left: -400%;
}

/*анимация контролов*/
ul .slider__title {
  display: none;
}

#control-1:checked ~ ul #title-1 {
  display: block;
  animation: 0.3s moveTitle forwards;
}
#control-2:checked ~ ul #title-2 {
  display: block;
  animation: 0.3s moveTitle forwards;
}
#control-3:checked ~ ul #title-3 {
  display: block;
  animation: 0.3s moveTitle forwards;
}
#control-4:checked ~ ul #title-4 {
  display: block;
  animation: 0.3s moveTitle forwards;
}
#control-5:checked ~ ul #title-5 {
  display: block;
  animation: 0.3s moveTitle forwards;
}

@keyframes moveTitle {
  from {
    margin-left: 100%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}
